/****  HEADER  ****/

.header {
    list-style-type: none;

    background-color: #34385B;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
}

.header .indent {
    margin:0 100px;
}

.header .li {
    float: right;
}

.header .li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    height: 32px;
}

.header .li a:hover:not(.active) {
    background-color: #09BA8E;
}

.header .active {
    background-color: #09BA8E;
}

/****  ALL INPUTS  ****/
input {
    border: none;
    border-bottom: 2px solid #555;
    border-radius: 5px;
    background-color: #F0F0F1;
    padding: 12px 20px;
    margin: 8px 0;
    outline: none;
}

textarea {
    border: none;
    border-bottom: 2px solid #555;
    border-radius: 5px;
    background-color: #F0F0F1;
    padding: 12px 20px;
    margin: 8px 0;
    resize: none;
    outline: none;
}


/****  COMMON ELEMENTS (Buttons)  ****/
/* Basic Indentation for all pages */
.indent {
    margin: 60px 100px 60px 100px;
}

/*Background */
body {
    background-color: #F0F0F1;
}

/* Main Font */
.font {
    font-family: 'Ubuntu', sans-serif;
}

/****  Headings  ****/
h1 {
    font-family: 'Ubuntu', sans-serif;
    color: #09BA8E;
    font-size: 30pt;
}

h2 {
    font-family: 'Ubuntu', sans-serif;
    color: #F5686C;
    font-size: 20pt;
}

h3 {
    font-family: 'Ubuntu', sans-serif;
    color: #2f2d2d;
    font-size: 15pt;
}


/****  HOME PAGE  ****/

.o{
    background: #09BA8E;
    text-align:center;
}

.y{
    width: 1000px;
    height: 600px;
    background: #F0F0F1;
    margin: 25px auto;
    border: solid 2px #F5686C;
}
.j{
    text-align:center;
    font-family: "Times New Roman", serif;
    font-size: 24pt;
    color:#F5686C;
}
.n{
    height:2px;
    color:#F5686C;
}

.a{
    font-family: "Calibri", serif;
    font-size: 12pt;
    text-align: left;
    text-indent: 48px;
    color:#2f2d2d;
}
/***** SLIDER ****/
*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}

.slider{
	overflow: hidden;
	height: 350px;
}

.slider figure div{
	width: 20%;
	float: left;
}

.slider figure img{
	width: 100%;
	float: left;
}

.slider figure{
	position: relative;
	width: 500%;
	margin: 0;
	left: 0;
	animation: 20s slidy infinite;
}

@keyframes slidy{
	0%{
		left: 0%
	}

	10%{
		left: 0%;
	}

	12%{
		left: -100%;
	}

	22%{
		left: -100%;
	}

	24%{
		left: -200%;
	}

	34%{
		left: -200%;
	}

	36%{
		left: -300%;
	}

	46%{
		left: -300%;
	}

	48%{
		left: -400%;
	}

	58%{
		left: -400%;
	}

	60%{
		left: -300%;
	}

	70%{
		left: -300%;
	}

	72%{
		left: -200%;
	}

	82%{
		left: -200%;
	}

	84%{
		left: -100%;
	}

	94%{
		left: -100%;
	}

	96%{
		left: 0%;
	}

	100%{
		left: 0%;
	}
}

/****  FEATURES  ****/




/****  ABOUT US  ****/




/****  CONTACT US  ****/
.info,.form {
    float: left;
    width: 50%;
    font-family: 'Ubuntu', sans-serif;
}
