/****  HEADER  ****/

ul {
    list-style-type: none;
    margin: 0;
    background-color: #34385B;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #09BA8E;
}

.active {
    background-color: #4CAF50;
}


/****  COMMON ELEMENTS (Buttons)  ****/




/****  HOME PAGE  ****/




/****  FEATURES  ****/




/****  ABOUT US  ****/




/****  CONTACT US  ****/


