/****  HEADER  ****/

.header {
    list-style-type: none;

    background-color: #34385B;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.header .indent {
    margin:0 100px;
}

.header .li {
    float: right;
}

.header .li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.header .li a:hover:not(.active) {
    background-color: #09BA8E;
}

.header .active {
    background-color: #09BA8E;
}

/****  COMMON ELEMENTS (Buttons)  ****/
/* Basic Indentation for all pages */
.indent {
    margin: 100px 100px 100px 100px;
}

h1 {
    font-family: 'Ubuntu', sans-serif;
    color: #09BA8E;
    font-size: 30pt;
}

h2 {
    font-family: 'Ubuntu', sans-serif;
    color: #F5686C;
    font-size: 20pt;
}

h3 {
    font-family: 'Ubuntu', sans-serif;
    color: #2f2d2d;
    font-size: 15pt;
}

p{
    font-family: 'Ubuntu', sans-serif;
    font-size: 12pt;
}

/****  HOME PAGE  ****/

.o{
    background: #09BA8E;
    text-align:center;
}

.y{
    width: 1000px;
    height: 600px;
    background: #F0F0F1;
    margin: 25px auto;
    border: solid 2px #F5686C;
}
.j{
    text-align:center;
    font-family:"Times New Roman";
    font-size: 24pt;
    color:#F5686C;
}
.n{
    height:2px;
    color:#F5686C;
}

.a{
    font-family: "Calibri";
    font-size: 12pt;
    text-align: left;
    text-indent: 48px;
    color:#2f2d2d;
}


/****  FEATURES  ****/




/****  ABOUT US  ****/




/****  CONTACT US  ****/