/****  HEADER  ****/

.nav {
    list-style-type: none;
    overflow: hidden;
    background-color: #34385B;
    box-sizing: border-box;
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
}

.nav .indent {
    margin:0 100px;
}

.nav .li {
    float: right;
}

.nav .li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    height: 32px;
}

.nav .li a:hover:not(.active) {
    background-color: #09BA8E;
}

.nav .active {
    background-color: #09BA8E;
}


/****  ALL INPUTS  ****/
input {
    border: none;
    border-bottom: 2px solid #555;
    border-radius: 5px;
    background-color: #F0F0F1;
    padding: 12px 20px;
    margin: 8px;
    outline: none;
}

textarea {
    border: none;
    border-bottom: 2px solid #555;
    border-radius: 5px;
    background-color: #F0F0F1;
    padding: 12px 20px;
    margin: 8px;
    resize: none;
    outline: none;
}

/****  COMMON ELEMENTS (Buttons)  ****/

/*Background */
body {
    background-color: #F0F0F1;
    margin: 60px 100px 60px 100px;
}

/* Main Font */
.font {
    font-family: 'Ubuntu', sans-serif;
}

/****  Headings  ****/
h1 {
    font-family: 'Ubuntu', sans-serif;
    color: #09BA8E;
    font-size: 30pt;
    margin: 0;
}

h2 {
    font-family: 'Ubuntu', sans-serif;
    color: #F5686C;
    font-size: 20pt;
}

h3 {
    font-family: 'Ubuntu', sans-serif;
    color: #2f2d2d;
    font-size: 15pt;
}


/****  HOME PAGE  ****/

.button-container{
    position:absolute;
    text-align:center;
    top:320px;
    width:100%
}

/* Slider */
.slider{
    overflow: hidden;
    height: 350px;
}

.slider figure div{
    width: 20%;
    float: left;
}

.slider figure img{
    width: 100%;
    float: left;
}

.slider figure{
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 20s slidy infinite;
}

@keyframes slidy{
    0%{
        left: 0
    }

    10%{
        left: 0;
    }

    12%{
        left: -100%;
    }

    22%{
        left: -100%;
    }

    24%{
        left: -200%;
    }

    34%{
        left: -200%;
    }

    36%{
        left: -300%;
    }

    46%{
        left: -300%;
    }

    48%{
        left: -400%;
    }

    58%{
        left: -400%;
    }

    60%{
        left: -300%;
    }

    70%{
        left: -300%;
    }

    72%{
        left: -200%;
    }

    82%{
        left: -200%;
    }

    84%{
        left: -100%;
    }

    94%{
        left: -100%;
    }

    96%{
        left: 0;
    }

    100%{
        left: 0;
    }
}


/****  FEATURES  ****/

.blocks-left {
    margin: 5px;
    padding: 25px;
    width: 100%;
    height: auto;
    border-bottom: 2px solid #F5686C;
    background-color: white;
    overflow:hidden;
}

.blocks-left img{
    margin-left: 20px;
    float: right
}

.blocks-right {
    margin: 5px;
    padding: 25px;
    width: 100%;
    height: auto;
    border-bottom: 2px solid #F5686C;
    background-color: white;
    overflow: hidden;
}

.blocks-right img{
    margin-right: 20px;
    float: left;
}


.photo-grid {
    margin: 1em auto;
    max-width: 100%;
    text-align: center;
}

.photo-grid li {
    border: 5px solid white;
    display: inline-block;
    margin: 1em;
    width: relative;
}

.photo-grid img {
    display: block;
    height: auto;
    -wekbit-transition: all 300ms;
    -moz-transition: all 300ms;
    transition: all 300ms;
    max-width: 100%;
}

.photo-grid li:hover img{
    -wekbit-transform: scale(1.4);
    -mox-transform: scale(1.4);
    transform: scale(1.4);
}

.photo-grid figure {
    height: 200px;
    overflow: hidden;
    position: relative;
    width: relative;
}

.photo-grid figcaption {
    background: rgba(0,0,0,0.8);
    color: white;
    display: table;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    transition: all 300ms;
    -webkit-transition-delay: 100ms;
    -moz-transition-delay: 100ms;
    transition-delay: 100ms;
    z-index: 100;
}

.photo-grid figcaption p {
    display: table-cell;
    font-size: 1.5em;
    font-family: 'Ubuntu', sans-serif;
    position: relative;
    top: -40px;
    width: 300px;
    -wekbit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    vertical-align: middle;
}

.photo-grid li:hover figcaption p{
    -moz-transform: translateY(40px);
    -wekbit-transform: translateY(40px);
    transform: translateY(40px);
}

.photo-grid li:hover figcaption {
    opacity: 1;
}

.sign-up-button {
	padding: 10px 20px;
	background: #F2EE74;
	border-radius: 20px;
	display:block;
	width: 110px;
}

.sign-up-button a{
	font-family: 'ubuntu', sans-serif;
	font-size: 20pt;
	text-decoration: none;
	text-align: center;
	color: #34385B
}

.sign-up-button:hover{
	background-color: #09BA8E
	color: #F0F0F1;
}


/****  ABOUT US  ****/
.img {
    border: 1px solid #ccc;
    user-select: none;
    float: left;
    width: 20%;
    box-sizing: border-box;
    margin: 1%;
}

.img:hover {

}

.img img {
    width: 100%;
    height: auto;
}

.des {
    padding: 5%;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
}


/****  CONTACT US  ****/
.info,.form {
    float: left;
    width: 50%;
    font-family: Ubuntu, sans-serif;
}

.send_button {
    font-family: Ubuntu, sans-serif;
    height: 5%;
    padding: 0 4% 0 1%;
    border: 2px solid #555;
    border-radius: 5px;
    margin: 8px;
    outline-style: none;
    background: #F0F0F1 url('images/contact_us/send_icon.png') no-repeat right center;
}
